.bottom_patty {
  transform-origin: 77px 97px; /* Disminuí x y y ligeramente */
  transition: transform 0.3s ease-in-out;

  &_true {
    transform: rotate(45deg);
  }

  &_false {
    transform: rotate(0deg);
  }
}

.upper_patty {
  transform-origin: 86.169px 100.413px; /* Ajusta según sea necesario */
  transition: transform 0.3s ease-in-out;

  &_true {
    transform: rotate(-45deg);
  }

  &_false {
    transform: rotate(0deg);
  }
}

.upper_bread {
  transform-origin: 86.057px 109.324px; /* Ajusta según sea necesario */
  transition: transform 0.3s ease-in-out;

  &_true {
    transform: translateY(8px); /* Ejemplo de otra transformación */
  }

  &_false {
    transform: translateY(0);
  }
}

// ... otros estilos de tu archivo ...
