// Primary palette
$primary-color: #edabb6;
$primary-color-hard: #d46a7b;
$primary-color-soft: #f5ccd3;
$secondary-color: #d4d4d4;
$background-color: #1a1a1a;
$background-color-soft: #444444;
$text-color-black: #1a1a1a;
$text-color-white: #fafafa;
