.container {
  width: 100%;
  // height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: pink;
}
.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}
.icons {
  padding-right: 10px;
  display: flex;
  gap: 10px;
}
